@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --space-cadet: #22223bff;
    --ultra-violet: #4a4e69ff;
    --rose-quartz: #9a8c98ff;
    --pale-dogwood: #c9ada7ff;
    --isabelline: #f2e9e4ff;
}

.name {
    width: 80%;
}

header {
    padding: 0px 10px 10px;
}
footer{
    display: flex;
justify-content: center;
    align-items: flex-end;
    padding: 10px;
    flex-shrink: 0;
    background-color: var(--ultra-violet);
    height: 20vh;
    color: var(--space-cadet);
}
#first{
    height: 75px;
    font-size: 1.5em;
    align-items: center;
    display: flex;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

a {
    color: black;
    text-decoration: none;
}
section{
    display: inline-block;
    padding: 5px;
    flex: 1;
    background-color: var(--pale-dogwood);
}
main{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#pageName {
    font-size: 3em;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--isabelline);
    font-family: Roboto, sans-serif;
}
html,body{
    height: 99.9vh;
    margin: 0;
}
p a{
    color: var(--ultra-violet);
}
.name{
    padding: 10px;
}
@media (max-width: 600px){
    main{
        flex-direction: column;
    }
    #first{
        flex-direction: column;
        text-align: center;
    }
    .navbar{
        margin: 10px;
    }
}
.fA{
    background-color: var(--pale-dogwood);
}
.sA{
    background-color: var(--rose-quartz);
}
.tA{
    background-color: var(--ultra-violet);
}
.animated{
    animation: textSlide 0.75s ease-in-out forwards;
}
.link{
    transform: translateX(-110%);
}
.link a{
    color: black;
}
.line{
    display: flex;
    align-items: center;
}
.box{
    overflow: hidden;
    margin: 0;
    transform: translateX(5px);
    padding: 5px;
}
.fa-github{
    margin-right: -10px;
}
@keyframes textSlide {
    0%{
        transform: translateX(-110%);
    }
    100%{
        transform: translateX(0%);
    }
}